@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

body {
    font-family: 'Lexend';
    text-align: center;
    background-color: #496b67;
    color: 	#e7b19d;
}

.title {
    text-align: center;
    font-size: 36px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
}
img {
    width: 200px;
}